{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/b2e63023ee.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "recipe/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "recipe/css/style.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500" rel="stylesheet">
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="{% static "recipe/js/bootstrap.bundle.min.js" %}"></script>

    {% block head %}{% endblock %}
</head>
<body>
    {% include "navbar.html" %}
    <div class="content-container">
            {% if messages %}
                <div class="p-2">
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>

            {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    {% block script %}
    {% endblock script %}
</body>
</html>
